@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}
.header{
    position: fixed;
    height: 60px;
    width: 100%;
    
    z-index: 100;
    padding: 0 20px;
}
.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.nav,.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.nav_logo{
    font-size: 25px;
}
.nav_item{
    column-gap: 25px;
}
.linkn:hover{
    color: blue;
}
.nav_logo,.linkn{
    color: white;
}
.home
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(674.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    z-index: 101;
    max-width: 900px;
    width: 100%;
    border-radius: 6px ;
    padding:30px;
    
    background-color: rgb(255, 255, 255,.6);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    transition: .7s ease-in-out;
}
.container:hover{
    background-color: rgb(255, 255, 255,1);    
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 3px;
      width: 27px;
      border-radius: 8px;
      background-color:#4070f4 ;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    border-radius: 15px;

}
.container form .form{
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    border: 10px solid rgb(255, 255, 255,.9); ;
    

}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius:5px ;
    border: 1px solid #aaa;
    padding:0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, .13);
}
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button,.backbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    cursor: pointer;
}
.container form button,
.container form .backbtn{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
background-color: #fff;
color: #4070f4;
border: 2px solid #4070f4;
}
form .backbtn:hover{
    background-color: #fff;
    color: #4070f4;
    border: 2px solid #4070f4;
    }
form button i,
form .backbtn i{
    margin: 0 6px;
}
form .backbtn i{
    transform: rotate(180deg);
}
form .butn{
    display: flex;
    align-items: center;
}
form .butn button ,.backbtn{
    margin-right: 15px ;
}





.card {
    
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 300px;
  background-color: white;
  padding: 10px 30px 40px;
  margin-top: 50px;
  
}
.card2{
    margin-bottom: 30px;
    background: white;
   
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn2 {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn2:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

div.card.form.second{
   position: absolute;
   left: 60px;
}